.photo-details-modal {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: #FFFFFF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

.like-button{
  margin-left: 20px;
}

.photo-details-modal__image {
  object-fit: cover;
  height: 95%;
  width: 95%;
  margin-left: 20px;

}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
}

.photo-details-modal__header {
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
  margin-left: 20px;
}

.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 100px;
  height: 100px;
}

.photo-details-modal__photographer-info {
  font-weight: 700;
  font-size: 20px;
  margin-left: 8px;
  align-items: center;
}
